services:
  qdrant:
    container_name: qdrant-dev
    image: qdrant/qdrant:latest
    ports:
      - "127.0.0.1:6333:6333"
      - "127.0.0.1:6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage:z

    restart: unless-stopped
    env_file: .env

    networks:
      - web

networks:
  web:
    external: true
