services:
  qdrant:
    container_name: qdrant-dev
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage:z

    restart: unless-stopped
    env_file: .env

    networks:
      - web
      
networks:
  web:
    external: true
